In [32]:
#Sort Python Dictionaries by Key or Value
car={"brand": "tata",
  "model": "nexon",
  "year": 2000}
x = dict(sorted(car.items()))
x

{'brand': 'tata', 'model': 'nexon', 'year': 2000}

In [33]:
#Handling missing keys in Python dictionaries
car={"brand": "tat",
  "model": "nexon",
  "year": 2000}

x=car.get("color","black")
print(x)
value=car.setdefault("color","black")
print(car)

black
{'brand': 'tat', 'model': 'nexon', 'year': 2000, 'color': 'black'}

In [34]:
#Python dictionary with keys having multiple inputs
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'age': (21, 22, 22),
    'city': ('uttarakhand', 'delhi', 'delhi')
}
dict1

{'name': ('gaurav', 'luv', 'ashish'),
 'age': (21, 22, 22),
 'city': ('uttarakhand', 'delhi', 'delhi')}

In [35]:
#Python program to find the sum of all items in a dictionary
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'age': (21, 22, 22),
    'city': ('uttarakhand', 'delhi', 'delhi')
}
print(sum(dict1['age']))

65

In [36]:
#Python program to find the size of a Dictionary
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'age': (21, 22, 22),
    'city': ('uttarakhand', 'delhi', 'delhi')
}
print(len(dict1))

3

In [41]:
#Ways to sort list of dictionaries by values in Python – Using lambda function
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'city': ('uttarakhand', 'delhi', 'delhi')
}
print(sorted(dict1.items(),key=lambda x:x[1]))

[('name', ('gaurav', 'luv', 'ashish')), ('city', ('uttarakhand', 'delhi', 'delhi'))]

In [42]:
# Merging two Dictionaries
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'age': (21, 22, 22),
    'city': ('uttarakhand', 'delhi', 'delhi')
}
dict2={"brand": "tata",
  "model": "nexon",
  "year": 2000}
dict3=dict1.copy()
dict3.update(dict2)
dict3

{'name': ('gaurav', 'luv', 'ashish'),
 'age': (21, 22, 22),
 'city': ('uttarakhand', 'delhi', 'delhi'),
 'brand': 'tata',
 'model': 'nexon',
 'year': 2000}

In [43]:
#Program to create grade calculator in Python
def calculate_grade(score):
   if score >=90 :
    return "A"
   elif score >=80:
       return "B"
   elif score >=70:
          return "C"
   elif score >=60:
    return "D"
   else:
    return "F"
   score =int(input("enter your score"))
   grade = calculate_grade(score)
   print(f"your grade is {grade}")

In [46]:
# Check order of character in string using OrderedDict( )
from collections import OrderedDict
def checkOrder(input, pattern):
    dict = OrderedDict.fromkeys(input)

In [49]:
#Find common elements in three sorted arrays by dictionary intersection
array1 = [10,20,30,40]
array2 = [20,30,40,55]
array3 = [33,40,55,60]
array5 = {x for x in array1 if x in array2 and x in array3}
array5

{40}

In [53]:
#Dictionary and counter in Python to find winner of election
votes = ["Bob","bob","john","john","john","jack","Marie","john","john","julie","jack","Bob"]
from collections import Counter
vote_count = Counter(votes)
vote_count

Counter({'Bob': 2, 'bob': 1, 'john': 5, 'jack': 2, 'Marie': 1, 'julie': 1})

In [54]:
#Python – Key with maximum unique values
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'age': (21, 22, 22),
    'city': ('uttarakhand', 'delhi', 'delhi')
}
max_unique_values = max(dict1.items(), key=lambda x: len(set(x[1])))
max_unique_values

('name', ('gaurav', 'luv', 'ashish'))

In [55]:
#Python – Group Similar items to Dictionary Values List
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'age': (21, 22, 22),
    'city': ('uttarakhand', 'delhi', 'delhi')}
dict2 = {}
for key,value in dict1.items():
    dict2.setdefault(tuple(value),[]).append(key)
dict2

{('gaurav', 'luv', 'ashish'): ['name'],
 (21, 22, 22): ['age'],
 ('uttarakhand', 'delhi', 'delhi'): ['city']}

In [56]:
#K’th Non-repeating Character in Python using List Comprehension and OrderedDict
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'age': (21, 22, 22),
    'city': ('uttarakhand', 'delhi', 'delhi')}
dict2 = {}

In [57]:
#19. Python | Ways to remove a key from dictionary
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'age': (21, 22, 22),
    'city': ('uttarakhand', 'delhi', 'delhi')}
del dict1['name']
dict1
#way 2
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'age': (21, 22, 22),
    'city': ('uttarakhand', 'delhi', 'delhi')}
dict1.pop('name')
dict1
# way 3
dict1={
    'name': ('gaurav', 'luv', 'ashish'),
    'age': (21, 22, 22),
    'city': ('uttarakhand', 'delhi', 'delhi')}
dict1 = {key: value for key, value in dict1.items() if key != 'name'}
dict1

{'age': (21, 22, 22), 'city': ('uttarakhand', 'delhi', 'delhi')}