In [1]:
i=0
while i<5:
    i+=1
    print (i)

1
2
3
4
5

In [7]:
i=0
while i<11:
    print (i)
    i+=2

0
2
4
6
8
10

In [29]:
i=1
n=3
sum=0
while i <= n:
    sum =sum + i
    i =i+ 1
    print("The sum of the first {n} natural numbers is:",sum)

The sum of the first {n} natural numbers is: 1
The sum of the first {n} natural numbers is: 3
The sum of the first {n} natural numbers is: 6

In [27]:
l1= ["A","B","C","D"]
for x in l1:
 if x=="C":
  break
 print(x)

A
B

In [29]:
l1= ["A","B","C","D"]
for x in l1:
 if x=="C":
  continue
 print(x)

A
B
D

In [31]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [35]:
#nested for loops
l2=[1,2,3]
l3=["google","meta","fujitsu"]
for x in l2:
    for y in l3:
        print(x,y)

1 google
1 meta
1 fujitsu
2 google
2 meta
2 fujitsu
3 google
3 meta
3 fujitsu

In [43]:
#pass statement for loops cannot be empty 
#but if u for some reason have a for loop with no content, 
#put in the pass statement toavoid getting an error
for x in [0,1,2]:
    pass

In [45]:
i=10
while i>:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [13]:
#ways to find reverse of a number
num=int(input("enter any number:"))
rev=0
while(num>0):
    rev=(rev*10)+num%10
    num=num//10
    print('reverse of given number is:',rev)

enter any number: 283

reverse of given number is: 3
reverse of given number is: 38
reverse of given number is: 382