In [15]:
#Find the Size of a Tuple
t = (1, 2, 3)
size = len(t)
print(size)

3

In [14]:
#Maximum and Minimum K Elements in Tuple
t = (1, 2, 3, 4, 5)
k = 2
max_k = sorted(t, reverse=True)[:k]
min_k = sorted(t)[:k]
print(max_k, min_k)

[5, 4] [1, 2]

In [16]:
# Create a List of Tuples from Given List Having Number and Its Cube
numbers = [7, 8, 9]
cubes = [(x, x**3) for x in numbers]
print(cubes)

[(7, 343), (8, 512), (9, 729)]

In [17]:
#Adding Tuple to List and Vice-Versa
t = (2, 3)
lst = [5, 8]
lst.append(t)  # Adding tuple to list
print(lst)
t = tuple(lst)  # Converting list to tuple
print(t)

[5, 8, (2, 3)]
(5, 8, (2, 3))

In [18]:
#Sum of Tuple Elements
t = (7, 8, 9)
total = sum(t)
print(total)

24

In [19]:
#Modulo of Tuple Elements
t = (10, 20, 30)
mod_t = tuple(x % 3 for x in t)
print(mod_t)

(1, 2, 0)

In [20]:
#Row-wise Element Addition in Tuple Matrix
matrix = ((2, 3), (6, 7))
row_sums = tuple(sum(row) for row in matrix)
print(row_sums)

(5, 13)

In [21]:
#Update Each Element in Tuple List
t_list = [(5, 6), (7, 8)]
updated = [(x + 1, y + 1) for x, y in t_list]
print(updated)

[(6, 7), (8, 9)]

In [22]:
#Join Tuples if Similar Initial Element
t1 = (1, 2)
t2 = (1, 3)
joined = t1 + t2 if t1[0] == t2[0] else (t1, t2)
print(joined)

(1, 2, 1, 3)

In [23]:
#All Pair Combinations of 2 Tuples
from itertools import product

t1 = (2, 3)
t2 = (4, 5)
combinations = list(product(t1, t2))
print(combinations)

[(2, 4), (2, 5), (3, 4), (3, 5)]

In [24]:
#Remove Tuples of Length K
lst = [(1, 2), (3, 4), (5, 6)]
k = 2
filtered = [t for t in lst if len(t) != k]
print(filtered)

[]

In [25]:
#Remove Tuples from the List Having Every Element as None
lst = [(6, 7), (None, None), (8, 9)]
filtered = [t for t in lst if all(x is None for x in t)]
print(filtered)

[(None, None)]

In [26]:
#Sort a List of Tuples by Second Item
t_list = [(5, 7), (6, 5), (7, 6)]
sorted_list = sorted(t_list, key=lambda x: x[1])
print(sorted_list)

[(6, 5), (7, 6), (5, 7)]

In [30]:
#Filter Range Length Tuples
t_list = [(1, 2), (3, 4, 5), (6,)]
filtered = [t for t in t_list if 2 <= len(t) <= 3]
print(filtered)

[(1, 2), (3, 4, 5)]

In [31]:
#Removing Duplicates from Tuple
t = (1, 2, 2, 3)
result = tuple(set(t))
print(result)

(1, 2, 3)