In [9]:
t1=("apple")
print (t1)
print(type(t1))
# to show type tupe put comma after single string

apple
<class 'str'>

In [7]:
t1=('apple',)
print(t1)
print (type(t1))

('apple',)
<class 'tuple'>

In [15]:
t1=("apple","banana","cherry","kiwi")
print(t1[1])
print(t1[-1])

banana
kiwi

In [17]:
t1=("apple","banana","kiwi","orange")
print(t1[1:3])

('banana', 'kiwi')

In [21]:
t1=("apple","banana","kiwi","orange")
print(t1[-3:-1])

('banana', 'kiwi')

In [29]:
t1=("apple","banana","kiwi","orange")
print(t1[:4])
print(t1[-3:])

('apple', 'banana', 'kiwi', 'orange')
('banana', 'kiwi', 'orange')

In [45]:
t1=("apple","banana","kiwi","orange")
y=list(t1)
y[2]="mango"
x= tuple(y)
print (x)

('apple', 'banana', 'mango', 'orange')

In [9]:
t1=("apple","banana","kiwi","orange")
y=list(t1)
y.remove("apple")
y.append("grapes")
t1=tuple(y)
print (t1)

('banana', 'kiwi', 'orange', 'grapes')

In [13]:
t1=("apple","banana","kiwi","orange")
y=("grapes","watermelon")
t1 +=y
print(t1)

('apple', 'banana', 'kiwi', 'orange', 'grapes', 'watermelon')

In [15]:
t1=("apple","banana","kiwi","orange")
t2=(1,2,3,4)
t3=t1+t2
print(t3)

('apple', 'banana', 'kiwi', 'orange', 1, 2, 3, 4)

In [25]:
t1=("apple","banana","kiwi","orange")
t2=t1*2
print(t2)

('apple', 'banana', 'kiwi', 'orange', 'apple', 'banana', 'kiwi', 'orange')

In [31]:
t1=(1,2,3,4,5,6,3,7,3)
y=t1.count(3)
print(y)
t1=(1,2,3,4,5,6,3,7,3)
y=t1.index(6)
print(y)

3
5